/*Stylesheet by Timothy Prestby 2019*/
    /*////////////////ID STYLES////////////*/
    #map{
        height: 100vh;
        width: 100vw;
        display: inline-block;
    }


    /*////////////////OTHER STYLES////////////*/
    .sequence-control-container {
        width: 350px;
        height: 30px;
        background-color: rgba(255,255,255,0.8);
        padding: 10px;
        line-height: 45px;
        text-align: center;
        border: solid gray 1px;
    }

    .sequence-control-container1 {
        width: 350px;
        height: 30px;
        background-color: rgba(255,255,255,0.8);
        padding: 10px;
        line-height: 45px;
        text-align: center;
        border: solid gray 1px;
    }

    .leaflet-popup-content p {
        margin: 0.2em 0;
    }

    .range-slider {
        width: 50%;
    }
    .range-slider1{
        width: 50%;
    }
    
    #forward {
        float: right;
    }

    #forward1 {
        float: right;
    }
    
    #reverse {
        float: left;
    }

    #reverse1 {
        float: left;
    }