/*Stylesheet by Timothy Prestby 2019*/
    /*////////////////ID STYLES////////////*/
    #map{
        height: 100vh;
        width: 100vw;
    }

    #panel {
        width: 26%;
        padding: 20px;
        display: inline-block;
        vertical-align: top;
        text-align: center;
        line-height: 42px;
    }

    /*////////////////OTHER STYLES////////////*/

    .leaflet-popup-content p {
        margin: 0.2em 0;
    }

    .range-slider {
        width: 50%;
    }
    .range-slider1{
        width: 50%;
    }
    
    #forward {
        float: right;
    }

    #forward1 {
        float: right;
    }
    
    #reverse {
        float: left;
    }

    #reverse1 {
        float: left;
    }