/*Stylesheet by Timothy Prestby 2019*/
    /*////////////////ID STYLES////////////*/
    #map{
        height: 99.5vh;
        width: 99.99vw;
        display: inline-block;
    }

    body {
        padding:0;
        margin:0;
    }
    /*////////////////OTHER STYLES////////////*/
    .sequence-control-container {
        width: 300px;
        height: 10vh;
        background-color: rgba(255,255,255,0.8);
        padding: 10px;
        line-height: 45px;
        text-align: center;
        border: solid gray 1px;
    }

    .meta-container {
            width: 250px;
            height: 50px;
            background-color: rgba(255,255,255,0.4);
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            padding: 10px;
            line-height: 45px;
            text-align: center;
            border: solid gray 1px;
            line-height: 100%;
            margin: 0;
    }

    .legend-control-container {
        width: 300px;
        height: 30vh;
        background-color: rgba(255,255,255,0.8);
        padding: 10px;
        line-height: 45px;
        text-align: center;
        border: solid gray 1px;

    }

    .leaflet-popup-content p {
        margin: 0.2em 0;
    }

    .range-slider {
        width: 50%;
    }

    
    #forward {
        display: inline-block;

    }
    
    #reverse {
        display: inline-block;

    }

    .lowerLimit-slider{
        display: inline-block;
        width: 30%;

    }

    .upperLimit-slider{
        display: inline-block;
        width: 30%;

    }

    #lowerLimit{
        display: inline-block;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.5em;
        padding-right: 10px;
    }

    #upperLimit{
        display: inline-block;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.5em;
        padding-left: 10px;
    }

    #temporal-legend {
        display: inline-block;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 2em;

    }
    

    #currentYear{
        display: inline-block;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.5em;
        text-align: center;
        padding-right: 10px;
    }

    #max-text, #mean-text, #min-text{
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 1.5em;


    }

  